.displayboard {
    font-size: 32px;
    padding: 15px;
}

.button {
    display: inline-block;
    width: 50px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    padding: 15px;
}

.start-btn {
    background-color: dodgerblue;
    border: 1px solid indianred;
}

.start-btn::before {
    content: "start";
}

.clear-btn {
    background-color: indianred;
    border: 1px solid dodgerblue;
}

.pause-btn {
    background-color: chartreuse;
    border: 1px solid blue;
}

.pause-btn::before {
    content: "pause";
}
